<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Interest Calculator</title>
    <!-- Bootstrap JS and dependencies -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Total Interest Calculator</h2>
                <br />
                <br />
                <div class="centered-container">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Facility A (Land Advance)</label>
                            <input type="number" class="form-control" id="facilityInput" name="facilityInput">
                        </div>
                        <div class="form-group">
                            <label>Contractual Monthly Rate (%pm)</label>
                            <input type="number" class="form-control" id="contractualInput" name="contractualInput">
                        </div>
                        <div class="form-group">
                            <label>Beginning Of Default Period</label>
                            <input type="date" class="form-control" id="beginningDate" name="beginningDate">
                        </div>
                        <div class="form-group">
                            <label>End Of Default Period</label>
                            <input type="date" class="form-control" id="endDate" name="endDate">
                        </div>
                        <br />
                        <button type="submit" onclick="submitData();" class="btn btn-primary">Calculate</button>
                    </form>
                </div>
            </div>
            <div class="col-md-2 margin-top">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Result:</h5>
                        <p class="card-text" id="result"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Function to get CSRF Token
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
            return '';
        }
        //Submit Data
        function submitData() {
            event.preventDefault();

            const facilityInput = $("#facilityInput").val();
            const contractualInput = $("#contractualInput").val();
            const beginningDate = $("#beginningDate").val();
            const endDate = $("#endDate").val();

            //Validation
            let validated = validateFields();

            if (validated) {
                let formData = new FormData()
                formData.append("facilityInput", facilityInput);
                formData.append("contractualInput", contractualInput);
                formData.append("beginningDate", beginningDate);
                formData.append("endDate", endDate);


                fetch('/submit_data/', {
                    method: 'POST',
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    body: formData
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        //alert("The result is: " + data.result);
                        $("#result").html(data.result);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        }
        //Validate Fields
        function validateFields() {
            if ($("#facilityInput").val() == '') {
                alert("Please insert a value for facility input and make sure it's a number");
                return false;
            }
            if ($("#contractualInput").val() == '') {
                alert("Please insert a value for contractual input and make sure it's a number");
                return false;
            }
            if ($("#beginningDate").val() == '') {
                alert("Please insert a value for beginning date");
                return false;
            }
            if ($("#endDate").val() == '') {
                alert("Please insert a value for end date");
                return false;
            }

            // If all validations pass
            return true;
        }
    </script>
</body>

</html>
<style>
    .centered-container {
        justify-content: center;
        align-items: center;
    }

    .margin-top {
        margin-top: 150px;
    }
</style>